layout {
  pane split_direction="horizontal" {
    pane name="url_shortner_backend" {
      command "npm"
      args "run" "dev"
      cwd "~/my_projects/url-shortner/backend/"
    }

    pane name="url_shortner_frontend" {
      command "npm"
      args "run" "dev"
      cwd "~/my_projects/url-shortner/frontend/"
    }
  }
}
