layout {
  pane split_direction="horizontal" {
    pane name="frontend" {
      command "pnpm"
      args "run" "dev"
      cwd "~/my_projects/ShrinkLink/frontend"
    }

    pane name="backend" {
      command "go"
      args "run" "./cmd/api"
      cwd "~/my_projects/ShrinkLink/backend"
    }
  }
}
